$font-sans: helvetica neue,helvetica, arial, sans-serif;
$font-sans-serif:Times, serif;;
$gray: #3f423b;
$sky: #7f9da7;
$white: #ffffff;
$off-white:#edecec;
$blue:#3d4d5c;
$dark-gray:#605f5e;

.no-padding {padding:0;}


body {
  background-color:$off-white;
	/* padding-top:26px;for top fixed nav*/
}

#top-header {
  margin-top:0;

}

#logo {
  padding-top:20px;
  padding-bottom:0px;
}

#intro {
  font-family:$font-sans;
  h1 {
    margin-top:.65em;
    font-weight:100;
    font-size:4em;
  }
  h3 {
    font-weight:200;
  }
  p {
    font-weight:200;
  }
}

#services {
  min-height:395px;
  
  // background-color:darken($sky, 25%);
  background-image:url('sunray_mirror.jpg');
  background-position-x:-200px;
  padding:2em 0 2em 0;
   color:$white;
   h3 {
     font-family:$font-sans;
     font-weight:200;
     letter-spacing:.80px ;
   }
   p {
     line-height: 1.55em;
     font-weight:300;
     font-size:90%;
   }
}





p {
  font-family:$font-sans;
  font-weight:400;
}

#hours-map {
  padding-top:40px;
}


#section-2 {
  background-image:url('sunrise.jpg');
  background-position-y:90%;
  background-position-x:50%;
  min-height:400px;
  background-repeat:no-repeat;
  
  p {
    padding:2em 0;
    font-family:$font-sans;
    font-weight:100;
    font-size:3em;
    line-height:1.20em;
  }
}

#footer {
  padding:2em 0;
  background-color:#000000;
  color:darken($white, 65%);
  li {
    list-style-type: none;
    margin-left:0;
  }
}


