// Options for hero image top margin based on header type
$header-nobg-hero :-72px;
$header-navbar-default :-21px;
$header-navbar-default-over :-92px;
$header-fixed-top:51px;

#intro {
  min-height:450px;
  // background-image:url('mirror2.png');
  padding-top:110px;
  // background-position-y:50%;
  // background-position-x:190%;
  background-color:#b0b1b1;

  margin-top:$header-navbar-default-over;// <--- choose from header options above
}